.adminStyle{
    font-size: 17px;
    color: white;
    font-weight:300;    
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto; 
    border-top-left-radius: 2px;
    width: fit-content;
    margin-top: 20px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.6);    
    margin-bottom: 20px;    
  }

.userStyle {
    text-align: start;
    word-wrap: break-word;
    max-width: 40%;
    margin-right: 26px;
    margin-left: auto;
    color: white;
    width: fit-content;
    padding: 8px 15px 8px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow:0px 0px 40px black ;
    border-radius: 13px 2px 10px 13px;
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.1 );
    background: rgba(25, 181, 254, 0.5);
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
}

.otherStyle{
    text-align: start;
    word-wrap: break-word;
    max-width: 40%;
    margin-right: 26px;
    margin-left: 26px;
    color: black;
    width: fit-content;
    margin-right: auto;
    margin-left: 26px;
    padding: 8px 15px 8px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    text-shadow:0px 0px 40px black ;
    border-radius: 2px 10px 13px 13px;
    box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.1 );
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
}