.gradient {
    background: linear-gradient(340deg, #43cea2, #185a9d);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 50s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    -o-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;

}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 29% 0%;
    }

    50% {
        background-position: 72% 100%;
    }

    100% {
        background-position: 29% 0%;
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 29% 0%;
    }

    50% {
        background-position: 72% 100%;
    }

    100% {
        background-position: 29% 0%;
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 29% 0%;
    }

    50% {
        background-position: 72% 100%;
    }

    100% {
        background-position: 29% 0%;
    }
}

@keyframes AnimationName {
    0% {
        background-position: 29% 0%;
    }

    50% {
        background-position: 72% 100%;
    }

    100% {
        background-position: 29% 0%;
    }
}

.innerDiv {
    height: 93vh;
    width: 100%
}


.title {
    height: 7vh;
    color: white;
    padding-left: 26px;
    padding-top: 22px;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    opacity: 1;

}


.fadeIn {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 9s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}