.title {
  height: 7vh;
  color: white;
  padding-left: 26px;
  padding-top: 26px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  opacity: 1;
}

.noRooms {
  height: 93vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  opacity: 1;
}

.scrollDiv {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  height: 93vh;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

.scrollDiv::-webkit-scrollbar {
  display: none;
}

.fab {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  border-radius: 13px;
  font-size: 15px;
  color: white;
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fabCancel {
  transition: all 0.1s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eb596e;
  border-radius: 13px;
  font-size: 15px;
  color: white;
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fabCancel:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.fab:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.fadeIn {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 9s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}